 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a student in Biomedical Engineering with a strong background in programming and a passion for machine learning and data science.</p>
                </div>
                <div class="col-lg-4">
                    <p>I aim to develop healthcare solutions by making large-scale data analytics accurate, comprehensive, and accessible. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/1uh1FKLvCAsOJyEfixemc4V1qE2kKdIqd/view" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
